body {
    width: 101.254px;
    height: auto;
}

div {
    width: 300px;
    height: 300px;

}


.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: red;
}

.skew {
    -webkit-transform: skew(30deg, 20deg);
    -moz-transform: skew(30deg, 20deg);
    -ms-transform: skew(30deg, 20deg);
    -o-transform: skew(30deg, 20deg);
    transform: skew(30deg, 20deg);
    background-color: gold;
}

.translate {
    -webkit-transform: translate(500px, 100px);
    -moz-transform: translate(500px, 100px);
    -ms-transform: translate(500px, 100px);
    -o-transform: translate(500px, 100px);
    transform: translate(500px, 100px);
    background-color: aqua;
}

.scale {
    -webkit-transform: scale(1.25, 2);
    -moz-transform: scale(1.25, 2);
    -ms-transform: scale(1.25, 2);
    -o-transform: scale(1.25, 2);
    transform: scale(1.25, 2);
    background-color: forestgreen;
}